body, h1, h2, h3, p {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.square {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: #187efa;
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #039dfc;
  transition: color 0.3s;
}

a:hover {
  color: #0e0275;
}

input[type=submit] {
  background-color: #0dbaff;
  color: #fff;
  padding: 14px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #2ad4ff;
}

a.home-link {
  display: inline-block;
  font-size: 24px;
  background-color: #2ad4ff;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: 20px;
}

a.home-link:hover {
  background-color: #0dbaff;
}
